<h1>Add a word</h1>

<form action="/words" method="post">
  <div class="form-group">
    <label for="word"></label>
    <input type="text" id="word" name="word" class="form-control">
  </div>
  <button type="submit" class="btn">Add Word</button>
</form>

<a href="/">Go back home</a>
