<h1>Welcome to your own personal dictionary</h1>

<p>
  Start by adding words, then add as many definitions for those words as you want.
</p>

<p>
  <a href="/words/new">Add a word</a>
</p>

<p>
  <a href="/words">See existing words</a>
</p>
